.img-rect {
    overflow: hidden;
    text-align: end;
}

.img-rect img {
    border-radius: 12px; 
    box-shadow: 0 6.25rem 5rem 0 rgba(0, 0, 0, 0.02), 0 4.05063rem 2.92813rem 0 rgba(0, 0, 0, 0.0152), 0 2.4075rem 1.5925rem 0 rgba(0, 0, 0, 0.0121), 0 1.25rem 0.8125rem 0 rgba(0, 0, 0, 0.01), 0 0.50938rem 0.4075rem 0 rgba(0, 0, 0, 0.0079), 0 0.11563rem 0.19687rem 0 rgba(0, 0, 0, 0.0048) !important;
}

.section-body p {
    text-align: justify;
}

@media (max-width: 1400px) { 
   
}

@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {

    .img-rect {
        padding: 30px 0px;
        text-align: center;
    }
    
}

@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
    
}